<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trucksoft.isoft.isoft_elog">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="my.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:name="com.isoft.trucksoft_elog.MyApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity android:name="com.isoft.trucksoft_elog.Isoft_activity.SplashScreenActivity"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>

        <activity
            android:name="com.isoft.trucksoft_elog.Loginactivitynew"
            android:screenOrientation="fullSensor"
            android:configChanges="screenSize|keyboardHidden"
            android:noHistory="true"
            android:taskAffinity=""
            ></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Company_Login"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true"

            android:taskAffinity=""
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.company.adddriver"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true"

            android:taskAffinity=""
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.company.viewdriver"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true"

            android:taskAffinity=""
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.company.companydashboard"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true"

            android:taskAffinity=""
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.company.Driverlist_home"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true"

            android:taskAffinity=""
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Company_Registration"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true"

            android:taskAffinity=""
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Digit_Signature"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:taskAffinity=""></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Privacy_elogbook"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:taskAffinity=""></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Month_digital_sig"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:taskAffinity=""></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Registration"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:taskAffinity=""></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Appupdateclasselog"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:taskAffinity=""></activity>
        <!--   <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Select_vehicle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:taskAffinity=""></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Select_vehicle_new"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:taskAffinity=""></activity>-->
        <activity
            android:name="com.isoft.trucksoft_elog.Vehicle.Vehicle_seect"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="fullSensor">
            <!--
                        <meta-data
                            android:name="android.app.searchable"
                            android:resource="@xml/searchable" />

                        <intent-filter>
                            <action android:name="android.intent.action.SEARCH" />
                        </intent-filter>

                       &lt;!&ndash; <intent-filter>
                            <action android:name="android.intent.action.D" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>&ndash;&gt;-->
        </activity>
        <activity
            android:name="com.isoft.trucksoft_elog.fuel_receipt.Upload_fuelbill"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="fullSensor"
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Vehicle_notification.Notiication_home"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:taskAffinity=""
            android:screenOrientation="fullSensor"
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Break_report.Breakreport_home"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:taskAffinity=""
            android:screenOrientation="fullSensor"
            ></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Message_view"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="fullSensor"
            ></activity>


        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Serviceticket_home"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Serviceticket_view"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Image_view_ticket"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Serviceticket_elog"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Engine_fault_code"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Battery_health"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Ifta_activity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Iftahome_activity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Fuel_level"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop"
            android:taskAffinity=""

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Graphwebview"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:taskAffinity=""></activity>


        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Driversummary_web"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:taskAffinity=""></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Model_class.Subdetailview"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:noHistory="true"
            android:taskAffinity=""></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Report_Home"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:taskAffinity=""></activity>


        <activity
            android:name="com.isoft.trucksoft_elog.show_loc.Show_mylocation"
            android:screenOrientation="fullSensor"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:noHistory="true"
            ></activity>

        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Transparent_breaknew"
            android:taskAffinity=""
            android:noHistory="true"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.Transparent"
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Geofence_alertt"
            android:taskAffinity=""
            android:noHistory="true"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.Transparent"
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Transparent_ondutyalert"
            android:taskAffinity=""
            android:noHistory="true"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.Transparent"
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Recordvoice_activity_new"

            android:taskAffinity=""
            android:noHistory="true"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.Transparent"
            ></activity>



        <activity
            android:name="com.isoft.trucksoft_elog.Isoft_activity.Drive_summary_new"
            android:screenOrientation="fullSensor"
            android:taskAffinity=""
            android:noHistory="true"

            ></activity>

        <!--  <activity android:name="com.isoft.trucksoft_elog.Isoft_activity.Home_activity_bluetooth"
              android:configChanges="orientation|keyboardHidden|screenSize"
              android:theme="@style/Theme.AppCompat.Light.NoActionBar"
              android:taskAffinity=""
              android:screenOrientation="portrait"
              android:parentActivityName="com.isoft.trucksoft_elog.Isoft_activity.ScanActivity"
              android:windowSoftInputMode="stateHidden">
              <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value="com.isoft.trucksoft_elog.Isoft_activity.ScanActivity" />
          </activity>-->

        <activity android:name="com.isoft.trucksoft_elog.Isoft_activity.Home_activity_bluetooth"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

































        <activity
            android:name="com.isoft.trucksoft_elog.Trips.Trip_details"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>


        <activity
            android:name="com.isoft.trucksoft_elog.breakrep.Break_report"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>





        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.Driverchecklist_home"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>
        <!--   <activity
               android:name="com.isoft.trucksoft_elog.driverchecklist.AddDriverChecklist"
               android:screenOrientation="portrait"
               android:taskAffinity=""
               android:noHistory="true"
               android:autoRemoveFromRecents="true"
               ></activity>-->
        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.AddDriverChecklist"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.Trucklistview"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.Checklist_selectfilter"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.DriverChecklistView"
            android:screenOrientation="fullSensor"

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.Image_view_bol"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            ></activity>
        <activity
            android:name="com.isoft.trucksoft_elog.driverchecklist.ViewItemListActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            ></activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />





        <!-- Firebase Notifications -->
        <service
            android:name="com.isoft.trucksoft_elog.isoft_eloggcm.Trucksoft_elog_Msg_Service"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.isoft.trucksoft_elog.isoft_eloggcm.Trucksoft_elog_Driverid_service"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>








        <!-- New chat concept -->
        <activity
            android:name="com.isoft.trucksoft_elog.E_log_chat.Dispatchchat_home.Dispatch_chathome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name="com.isoft.trucksoft_elog.E_log_chat.Dispatchchat_home.DispatchChatRoomActivity"
            android:label="@string/title_activity_chat_room_discussion"
            android:parentActivityName="com.isoft.trucksoft_elog.E_log_chat.Dispatchchat_home.Dispatch_chathome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.isoft.trucksoft_elog.E_log_chat.Dispatchchat_home.Dispatch_chathome" />
        </activity>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="info.androidhive.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.isoft.trucksoft_elog.E_log_chat.Dispatchchat_service.Dispatch_GcmPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.isoft.trucksoft_elog.E_log_chat.Dispatchchat_service.Dispatch_GcmIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.isoft.trucksoft_elog.Services.E_logbook_ForegroundService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />




        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="51177c2bc5baa90a9cebe0862f0494996af96d31" />

        <service
            android:name="com.geometris.wqlib.WQSmartService"
            android:enabled="true" />

        <receiver
            android:name="com.isoft.trucksoft_elog.Services.AutoStartReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>








</manifest>